/* Styles for my Portal Page */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: #F4F4F4;
}

a {
    color: #F4F4F4;
}

#wrapper {
    max-width: 1200px;
    margin: 10px auto;
}

nav {
    height: 60px;
    line-height: 60px;
    background-color: grey;
    margin: 10px;
}

nav li {
    float: left;
    width: 16.66%;
    text-align: center;
    list-style-type: none;
}

main {
    width: 57%;
    float: left;
    padding: 10px;
}

main img {
    max-width: 650px;
    margin: 20px;
}

aside {
    width: 35%;
    float: right;
    padding: 10px;
}

.right {
    float: right;
    margin-left: 30px;
    width: 200px;
}

footer {
    height: 60px;
    line-height: 60px;
    background-color: grey;
    clear: both;
}

footer ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

footer li {
    justify-content: center;
    margin: 0 30px;
    color: black;
}

footer a {
    text-decoration: none;
}

/* Typography */

h1 {
    text-align: center;
    font-size: 3em;
    margin: 10px;
}

h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 10px;
}

main h2, aside h2 {
    text-align: left;
}

p{
    padding-bottom: 20px;
}